$primary-1: #757ae9;
$primary-2: #6e58f1;

$positive-1: #5eca39;
$negative-1: #cb4b4b;

$warning-1: #dd9553;
$warning-2: #eeb728;

$purple-1: #bf51c1;
$cyan-1: #51c1c1;

$gray-1: #000115;
$gray-2: #282b42;
$gray-3: #e1e3ef;
$gray-4: #e5e7f9;
$gray-5: #fafaff;
$gray-6: #f7f8fe;

$box-shadow: #8d8fa9;
